.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90vw;
}

.new-project-card {
    background: #EBEBEB;
    border-radius: 5px;
    padding: 16px;
    width: 321px;
    height: 235px;
    margin: 12px 12px 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-add-project {
    width: 50px;
    height: 50px;
    background: #B3B3B3;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    transition: all .4s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-project:hover {
    transform: rotate(90deg);
}

.label-add-project {
    color: #B3B3B3;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.012em;
}

.toolbar-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
}

.btn-options {
    background-color: #FFFFFF;
    color: #2D2926;
    border: none;
}

.btn-options:hover {
    background-color: #FFFFFF;
    color: #2D2926;
    border: none;
}

.btn-options.active {
    background-color: #2D2926;
    color: #FFFFFF;
    border: none;
}
