.header-model-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 16px;
    line-height: normal;
    font-style: normal;
    letter-spacing: 1px;
}

.files-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.header-model-toolbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 3;
    padding: 24px 16px 24px 0;
}

.footer-model-toolbar {
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    z-index: 3;
}