.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
}

.Auth-form {
    width: 572px;
    height: 385px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.Auth-form-title {
    text-align: start;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
}

label {
    font-size: 14px;
    color: rgb(34, 34, 34);
}