.user-card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.user-card {
    width: 425px;
    height: 64px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    padding: 12px;
    background-color: #FFF;
}
