.project-card {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    width: 321px;
    height: 235px;
    margin: 12px 12px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.project-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* identical to box height */
    letter-spacing: 0.012em;
}

.project-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.012em;
    color: #817F7D;
}

.users-in-project {
    background: #F6DFDF;
    border-radius: 3px;
    width: 119px;
    height: 30px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.quantity-users-text {
    padding: 1px;
    font-size: 12px;
    font-weight: 700;
    color: #C32A2A;
}

.btn-project {
    width: 289px;
    height: 43px;
    background-color: #2D2926;
    color: #FFF;
    border: none
}

.btn-holder {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}