.sidenav {
    width: 200px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    position: fixed;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s;
    width: 70px;
    position: fixed;
    background-color: rgb(10,25,41);
    height: 100vh;
}
.sideItem {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 25px;
}

.sideItem:hover {
    background-color: #1d60ab;
}

.menuBtn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    overflow: hidden;
}



