.sidenav {
    transition: width 0.3s;
    width: 60px;
    position: fixed;
    background-color: #FFFFFF;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.sideItem {
    padding: 10px 0 10px 12px;
    cursor: pointer;
    color: #B3B3B3;
    text-decoration: none;
    overflow: hidden;
    margin: 10px 0 0 0;
}

.sideItem:hover {
    color: #C32A2A;
    padding: 10px 0 10px 12px;
    margin: 10px 0 0 0;
}

.sideItem.active {
    border-left: 3px solid #C32A2A;
    padding: 10px 0 10px 9px;
}

.sideAvatar {
    padding: 5px 0 5px 10px;
    cursor: pointer;
    color: #B3B3B3;
    text-decoration: none;
    overflow: hidden;
    margin: 10px 10px 12px 0;
}

.sideAvatar.active {
    border-left: 3px solid #C32A2A;
    padding: 5px 0 5px 7px;
}

.icon {
    margin-left: 8px;
}

.icon:hover * {
    stroke: #C32A2A;
}

.icon.active * {
    stroke: #C32A2A;
    margin-left: 8px;
}

.linkText {
    padding-left: 25px;
}

.menuBtn {
    align-self: flex-start;
    justify-self: flex-end;
    color: #B3B3B3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    overflow: hidden;
}

.box-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    flex-grow: 1;
}

.avatar-sidebar {
    margin: 10px 0 24px 10px;
}