@font-face {
    font-family: myriadpro;
    src: url(./assets/fonts/MyriadProReg.ttf);
}

.App {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 50px;
    border: solid 1px #B3B3B3;
    background: #F4F4F4;
    height: 141px;
}