@font-face {
    font-family: myriadpro;
    src: url(./assets/fonts/MyriadProReg.ttf);
}

.App {
    text-align: center;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar-thumb:vertical {
    border-radius: 50px;
    border: solid 1px #b3b3b3;
    background: #F4F4F4;
    height: 141px;
}

/* Works on Firefox without border-radius */
* {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 #f2f2f2;
}