.permission-table {
    margin: 1rem 0;
    width: 55rem;
    line-height: 2rem;
    border: 1px solid #f3f3f5;
}

.permission-thead {
    background-color: #f3f3f5;
}

tr:nth-child(even) {
    background-color: #f3f3f5;
}

input { 
    width: 20px;
    height: 20px;
}
